body {
    font-family: 'Poppins', sans-serif;
}

.backpic {
    background-image: url(assing-pic/donation9.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;


}

.text-div {
    color: rgb(252, 243, 242);
    text-align: center;
    height: 500px;
}